/* MODELO DE CAJAS: https://lenguajecss.com/css/modelo-de-cajas/que-es/ */

/* ==========================================================
   MODELO DE CAJAS
   Representación de los elementos HTML como una caja cuyo 
   tamaño se compone de: contenido, padding, borde y margen.
   ========================================================== */

/* 
  RESET inicial:
  - Quitamos márgenes y relleno por defecto.
  - Aplicamos box-sizing: border-box → el ancho/alto definido 
    incluye padding y border. */


/* =======================
   RESET + BOX-SIZING
   ======================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   /* width y height incluyen contenido + padding + borde */
}

html {
  font-size: 15px;
  background: #f4f4f4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

/* Centramos los bloques sin usar flex */
header,
nav,
section,
footer {
  margin-left: auto;
  margin-right: auto;
}

/* =======================
      HEADER
   ======================= */

header {
  color: azure;
  width: 1000px;           
  height: 100px;           
  background-color: coral;
  padding: 20px;           
  border: 5px solid black; 
  margin-top: 15px;
  margin-bottom: 15px;

}

header h1 { 
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
}

/* =======================
       NAV
   ======================= */

  /* La caja tendrá una altura TOTAL de 100px, incluyendo: contenido, padding y border
Conbox-sizing: border-box, el navegador ajusta internamente el contenido para que todo quepa dentro de esos 100px. */

nav {
  width: 75%;
  height: 100px;
  background-color: green;
  border: 4px double #000;
  margin: 30px auto;         /* auto hace que la caja se centre horizontalmente en su contenedor. */
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;      /* Esto centra los elementos hijo <li> dentro del <ul> (y por tanto dentro del nav) */
  justify-content: center;
  gap: 1.2rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 1.2em;
}


nav a {
  color: #fff;
  text-decoration: none;
  
}

a:hover {
  color: black;
}


/* =======================
      SECTION
   ======================= */

section {
  width: 500px;        
  height: auto; /*permite que la caja crezca con el contenido manteniéndose centrada*/
  background-color: blue;
  border: 10px groove #fd10ca;
  font-size: 10px;
  margin: 4em auto;        /* 4 * 10px = 40px */
  padding: 4rem;           /* 4 * 15px = 60px */
  color: white;
}

section p {
  margin-top: 0.8rem;
}

/* =======================
      FOOTER
   ======================= */

footer {
  width: 50vw;
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  margin: 0 auto 20px auto;
}

footer address {
  font-style: normal;
}