
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background-color: #0004f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ffffff;
    font-size: 2em;
}

header h2 {
    color: #f2ff03;
    font-size: 1.2em;
    margin-top: 5px;
}


nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #ffbf00;
    margin-bottom: 10px;
}

article h3 {
    color: #0022fe;
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
}


figure {
    text-align: center;
    margin: 10px 0;
}

figure img {
    max-width: 200px;
    height: auto;
    border: 1px solid #00000000;
}

figcaption {
    font-size: 0.9em;
    color: #2319b0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #3344ff;
}


form {
    background-color: #2c37ff;
    padding: 15px;
    border: 1px solid #0c0600;
    max-width: 500px;
}

fieldset {
    margin-bottom: 15px;
    border: 1px solid #581bff;
    padding: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #000000;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #ffef0c;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}




aside {
    background-color: #f6ff77;
    padding: 15px;
    margin-bottom: 30px;
}

aside h2 {
    margin-bottom: 10px;
}


footer {
    background-color: #3149ff;
    color: rgb(255, 251, 12);
    text-align: center;
    padding: 15px;
}

footer a {
    color: #ebe152;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
